In [3]:
# isilation forest :
from sklearn.ensemble import IsolationForest
import pandas as pd

In [18]:
data = pd.read_csv(r'IRIS.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [25]:
# onehotencodding on species data :
data_encoded = pd.get_dummies(data)
data_encoded.head()

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [31]:
clf = IsolationForest(random_state=10, contamination=0.01)
clf.fit(data_encoded)
outlier_pred = clf.predict(data_encoded)
outlier_pred

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [32]:
data_encoded["anomaly"] = pd.Series(outlier_pred)
# outlier_score = model.decision_function(data_encoded)
# outlier_score

In [33]:
data_encoded.head()

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica,anomaly
0,5.1,3.5,1.4,0.2,1,0,0,1
1,4.9,3.0,1.4,0.2,1,0,0,1
2,4.7,3.2,1.3,0.2,1,0,0,1
3,4.6,3.1,1.5,0.2,1,0,0,1
4,5.0,3.6,1.4,0.2,1,0,0,1

In [34]:
outlier_score = clf.decision_function(data_encoded)
outlier_score

array([ 0.25337122,  0.22782495,  0.21345342,  0.20762092,  0.23808038,
        0.15392349,  0.17959458,  0.26014495,  0.15766373,  0.20435005,
        0.20710178,  0.23434688,  0.18032215,  0.06809199,  0.0783182 ,
        0.06851672,  0.14871355,  0.22720863,  0.1255411 ,  0.21755588,
        0.18585798,  0.21569676,  0.10311284,  0.15000885,  0.14453252,
        0.2153382 ,  0.21798175,  0.24749183,  0.24279328,  0.21471294,
        0.21665823,  0.19381598,  0.10854187,  0.12631581,  0.20435005,
        0.20175386,  0.18998931,  0.20435005,  0.17762725,  0.25954226,
        0.21140046,  0.07058476,  0.18508117,  0.14111698,  0.11333917,
        0.18344186,  0.21643036,  0.22037538,  0.21862128,  0.25402027,
        0.13429325,  0.19149513,  0.16601981,  0.18859604,  0.21056915,
        0.23709093,  0.15967192,  0.09267516,  0.20637836,  0.15769939,
        0.07274764,  0.21515177,  0.1179187 ,  0.23348423,  0.16787178,
        0.1946466 ,  0.21770136,  0.1623867 ,  0.13942638,  0.1908787 ,
        0.12343998,  0.22840969,  0.15747872,  0.19984776,  0.22418114,
        0.21697104,  0.18344598,  0.14804571,  0.23376352,  0.13055949,
        0.17378932,  0.1523416 ,  0.20806254,  0.14483677,  0.19037332,
        0.14196251,  0.20411013,  0.17632869,  0.23095515,  0.21107863,
        0.19773422,  0.22980029,  0.21377429,  0.10889574,  0.23641787,
        0.20837058,  0.24035817,  0.23318356,  0.06450963,  0.24532388,
        0.13069282,  0.21752051,  0.19137948,  0.23375497,  0.20921367,
        0.11894185, -0.07081099,  0.15535177,  0.15606641,  0.09239618,
        0.20698017,  0.2277667 ,  0.2303955 ,  0.16552327,  0.16653391,
        0.20160839,  0.23840579,  0.05861317, -0.05014732,  0.09238785,
        0.19344505,  0.17662303,  0.10823862,  0.22081018,  0.19626403,
        0.17150795,  0.21347102,  0.22535659,  0.22699566,  0.15237676,
        0.1604638 ,  0.05219415,  0.21352808,  0.18334033,  0.12802954,
        0.14086451,  0.15660946,  0.23269656,  0.20812783,  0.21171919,
        0.19993154,  0.19414485,  0.21752051,  0.18603772,  0.16082852,
        0.21671342,  0.18960516,  0.23738736,  0.15631945,  0.21482708])

In [36]:
data_encoded["score"] = pd.Series(outlier_score)
data_encoded.head(10)

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica,anomaly,score
0,5.1,3.5,1.4,0.2,1,0,0,1,0.253371
1,4.9,3.0,1.4,0.2,1,0,0,1,0.227825
2,4.7,3.2,1.3,0.2,1,0,0,1,0.213453
3,4.6,3.1,1.5,0.2,1,0,0,1,0.207621
4,5.0,3.6,1.4,0.2,1,0,0,1,0.238080
5,5.4,3.9,1.7,0.4,1,0,0,1,0.153923
6,4.6,3.4,1.4,0.3,1,0,0,1,0.179595
7,5.0,3.4,1.5,0.2,1,0,0,1,0.260145
8,4.4,2.9,1.4,0.2,1,0,0,1,0.157664
9,4.9,3.1,1.5,0.1,1,0,0,1,0.204350

In [37]:
# to get outlier data :
data_encoded.loc[data_encoded.anomaly==-1]

,sepal_length,sepal_width,petal_length,petal_width,species_Iris-setosa,species_Iris-versicolor,species_Iris-virginica,anomaly,score
106,4.9,2.5,4.5,1.7,0,0,1,-1,-0.070811
118,7.7,2.6,6.9,2.3,0,0,1,-1,-0.050147